*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* background-color: aliceblue; */
  background-color: #000;
  user-select: none;
}

section {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* PRELOADERPAGE------------------------------------ */
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(80, 83, 83) 46%,
    rgb(0, 0, 0) 100%
  ); */

  z-index: 9999;
  opacity: 1;
  transition: opacity 1.2s ease, visibility 1.2s ease;
}

#loadingText {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0px 100px;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 1rem;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  background: url("./Assets/Img/AnimationImages/LodingAnimation.gif");
  background-position: center;
  background-size: 100% 100%;
}

.preloader button {
  border: none;

  background-image: url("./Assets/Img/AnimationImages/buttonAnimation.gif");
  background-position: center;
  /* background-size: 100% 100%; */
  padding: 5px 35px;
  border-radius: 10px;
  font-weight: 600;
  font-size: x-large;
  color: aliceblue;
  font-family: serif;
  letter-spacing: 3px;
  transition: filter 0.3s ease, color 0.3s ease;
}

.preloader button:hover {
  filter: brightness(200%);
  color: rgba(240, 248, 255, 0.514);
  font-weight: 600;
  text-shadow: 1px 1px 5px black;
}

/* FULL UI ----------------------------------------- */
.fullUI {
  /* border: 1px solid #e70808; */
  font-size: 20px;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease, visibility 1.2s ease;
  display: none
}

/* MAIN PAGE -------------------------------------- */
.mainPage {
  /* border: 1px solid #91ff00; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-image: url("./Assets/Img/AnimationImages/PageImage.gif");
  background-position: center;
  background-size: 100% 100%;
  filter: brightness(150%);
  transition: opacity 1.2s ease, visibility 1.2s ease;
}

.header {
  /* border: 1px solid #ff0000; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  width: 100%;
}

.nameHead,
.namePuzz {
  color: aliceblue;
  font-size: 8rem;
  font-family: fantasy;

  background: url("./Assets/Img/AnimationImages/nameAnimation.gif");
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header .mainPageHeading {
  /* border: 1px solid #000; */
  width: 100%;
  text-align: center;
  font-size: 4rem;
}

/* BUTTONS CARD STAGE MOVEMENT --------------------- */

.stageNaviagebuttons {
  /* border: 1px solid #000; */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  
  align-items: center;
  width: 100%;
}

.stageNaviagebuttons div{
  /* border: 1px solid #000; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.stageNaviagebuttons .shineeBtn:hover {
  color: #858585;
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.3);
}



/* STAGE INSIDE CARD CLICK-------------------------- */

.stagesCard {
  /* border: 3px solid #00ff55; */
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  gap: 30px;
  overflow-x: scroll;
  padding: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: auto;
}

.stagesCard .card {
  /* border: 1px solid gray; */
  flex-shrink: 0;
  width: 18rem;
  height: 75%;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  background-color: transparent;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.card:hover {
  box-shadow: 5px 5px 20px rgb(0, 0, 0);
}

.card img {
  width: 100%;
  height: 90%;
  opacity: 0.3;
  border-radius: 10px;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-25deg);
  animation: shine-rect 2.5s infinite;
  pointer-events: none;
}

.card img {
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: auto;
  height: 80%;
}

.card .card-body {
  /* border: 1px solid #000; */
  margin: 0;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .card-body h3 {
  /* border: 1px solid #000; */
  font-family: serif;
  margin: 0;
  font-weight: bold;
  color: rgba(3, 3, 3, 0.753);
}

/* STAGE PAGE ---------------------------------------*/

.STAGE {
  /* border: 1px solid #000; */
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-position: center;

  display: none;
}

/* STAGE MOVE START TO END ========= */
.content {
  /* border: 1px solid #000; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.buttons {
  /* border: 1px solid #ff0303; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  /* border: 1px solid #000; */
  background-color: rgba(255, 255, 255, 0.308);
  padding: 1px 15px;
  border-radius: 10px;
}

.buttons button {
  background-color: transparent;
  border: none;
  background: linear-gradient(145deg, #1a1a1a, #000);
}

.WHOSESTAGE {
  font-size: 2rem;
  font-family: cursive;
  font-weight: 600;
  color: aliceblue;
  text-shadow: 0px 8px 10px black;
  background: url("./Assets/Img/AnimationImages/settingBtn.gif");
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* border: 1px solid #000;
  padding: 5px 15px;
  border-radius: 10px; */
}

/* PUZZLE GAME BOX ========= */
.GAME {
  /* border: 1px solid #a6ff00; */
  height: 78vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.ADDNWQ {
  border: 3px solid #a3a3a3;
  border-radius: 10px;
  background-color: #000000bb;
  margin: 0px 5px;
  padding: 10px;
  width: 25%;

  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: inset 0px 0px 30px rgb(0, 0, 0);
  box-shadow: 0px 0px 3px black;
}

.FullImage {
  border: 3px solid #424242;
  width: 100%;
  height: 50%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.FullImage div {
  /* border: 3px solid #d85050; */
  height: 100%;
  position: relative;
  cursor: pointer;
}

.FullImage div h5 {
  position: absolute;
  bottom: 0;
  left: 0;
  /* border: 1px solid #000; */
  background-color: #00000081;
  width: 100%;
  text-align: center;
  color: rgba(240, 248, 255, 0.466);
  padding: 0px 10px;
}

.FullImage div::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-25deg);
  animation: shine-rect 2.5s infinite;
  pointer-events: none;
}

.FullImage div img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 13px rgb(0, 0, 0);
}

.DORPBOX {
  border: 3px solid #424242;

  border-radius: 10px;
  margin: 0px 5px;
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;
  width: 100%;
  height: 70%;
}

.GAME .DORPBOX h4 {
  /* border: 1px solid #f55252; */
  text-align: end;
  color: rgb(201, 200, 200);
  font-family: monospace;
  text-shadow: 0px 3px 5px rgb(129, 126, 126);
}

.DORPIMG {
  /* border: 2px solid #555353; */
  /* border: 3px solid #a3a3a3b2;*/
  border: 3px solid #a3a3a3b2;
  border: 3px dashed hsla(0, 0%, 64%, 0.698);
  background-color: #000;
  width: 100%;
  height: 100px;
  margin: 10% !important;
  border-radius: 10px;
  /* box-shadow: inset 0px 0px 8px rgb(126, 87, 87); */
  /* background-position: center;
  background-size: 100% 100%; */
}

.DORPIMG img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 1px black;
}

.GAME .PUZZLEDIV {
  border: 3px solid #a3a3a3b2;
  border-radius: 10px;
  background-color: #fffffff1;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 3px black;
}

.GAME .PUZZLEDIV .boxImg img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-shadow: 0px 0px 1px black;
}

/* WANT OT PLAY OR EXIT -------------------------------------- */

.playNotice {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);

  background-image: url("./Assets/Img/AnimationImages/WantToPlayBG.gif");
  background-position: center;
  background-size: 100% 100%;
  display: none;
  z-index: 1;
}

.playNotice div {
  /* border: 5px solid #1a1919a1; */
  border-radius: 10px;
  background-color: #3a6e91;
  background: linear-gradient(120deg, black, transparent, black);
  width: 40%;
  height: 50%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 8px 50px black, inset 0px 0px 50px black;
}

.playNotice h2 {
  font-weight: bolder;
  font-size: 2rem;
  background: url("./Assets/Img/AnimationImages/settingBtn.gif");
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.playNotice div button {
  border: none;
  border-radius: 8px;
  background: linear-gradient(145deg, #1a1a1a, #000);
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 40px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
  transition: transform 0.2s ease;
}

.imageNotice {
  padding: 0px !important;
  opacity: 0.7;
}

.STGImage {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.cancleBtn {
  position: absolute !important;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 5px 15px !important;
  border-radius: 100% !important;
  background: linear-gradient(145deg, #e97474, #ff0202) !important;
  color: white;
}

/* RECTANGLE BUTTON ========= */
.playNotice div button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-25deg);
  animation: shine-rect 2.5s infinite;
  pointer-events: none;
}

@keyframes shine-rect {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}

.playNotice div button:hover {
  transform: scale(1.05);
}

/* FULL SCREEN : PUZZLE IMAGE -------------------------------- */
.fullScreenSection {
  background-color: #000000ec;
  position: absolute;

  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease, visibility 1.2s ease;
}

.fullScreenSection button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  background: linear-gradient(145deg, #4db8ff, #0059b3);
  color: white;
}

.fullScreenSection button:hover {
  color: #858585;
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.3);
}

.boxFullScreen {
  border: 3px solid #fdfdfd;
  padding: 5px;
  border-radius: 10px;
  height: 80%;
  margin: 10px;
}

.boxFullScreen img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* FULL SCREEN PAGE : SETTING -------------------------------- */

.settingSection {
  /* border: 1px solid #000; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000ec;
  background: linear-gradient(145deg, #e9747463, #ff02028e);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.settingDiv {
  border: 5px solid rgb(34, 17, 17);
  border-radius: 10px;
  width: 30%;
  height: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.945);
  background: url("./Assets/Img/SettingBoxBG.jpg");
  background-size: 100% 100%;
  background-position: center;
  box-shadow: 0px 8px 25px rgb(0, 0, 0);
  overflow: hidden !important;
}

.settingDiv .closeFullScreenButton {
  position: absolute !important;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 0px 10px !important;
  border-radius: 100% !important;
  background: linear-gradient(145deg, #e97474, #ff0202) !important;
  color: white;
}

.settingDiv div {
  /* border: 1px solid #c0aeae; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  position: relative;
}

.settingDiv::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.055) 50%,
    rgb(0, 0, 0) 100%
  );
  transform: skewX(-25deg);
  animation: shine-rect 2s infinite;
  pointer-events: none;
}

@keyframes shine-rect {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}

.settingDiv div label {
  /* border: 1px solid red; */
  font-weight: 600;
  font-family: serif;
  font-size: x-large;
  color: aliceblue;
  text-shadow: 0px 8px 10px black;
}

.settingDiv div button {
  font-size: xx-large;
  padding: 1px 10px;
  border: none;
  color: #ff0000;
  background: transparent;
  transition: all 0.3s ease;
}

.settingDiv div .resetButton {
  color: #ff0000;
}

/* REUSABLE CLASSES -------------------------------- */

.WHOSESTAGESize {
  font-size: 1rem !important;
}

.EmptyBoxHeadingSize {
  font-size: 10px !important;
}
.dragging {
  opacity: 0.5;
}

/* Fading effect */
.fade-out {
  opacity: 0;
  visibility: hidden;
}

.fade-in {
  opacity: 1;
  visibility: visible;
}

.open img {
  opacity: 1 !important;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.colorBtn {
  color: rgb(0, 255, 0) !important;
}

/* SHINEE BTN FOR CIRCLE BUTTON */
.shineeBtn {
  border: none;
  border-radius: 50%;
  background: linear-gradient(145deg, #d8a9a9, #ce1a1a);
  color: white;
  font-size: xx-large;
  font-weight: 500;
  padding: 1px 10px 7px 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: center;
}

.shineeBtn::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.26) 50%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: rotate(25deg);
  animation: shine 1.5s infinite;
}

@keyframes shine {
  0% {
    transform: translateX(-100%) rotate(25deg);
  }
  100% {
    transform: translateX(100%) rotate(25deg);
  }
}

/* SETTING BUTTON BACKGROUND ======================== */

.menuBTNS {
  /* border: 1px solid #000; */
  /* box-shadow: 0px 0px 10px white; */
  padding: 1px 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.308);
}

.settingBtn {
  background: transparent;
  border: none;
  /* border: 1px solid #000; */
}

.settingBtn i {
  font-size: xx-large;
  background: radial-gradient(
    circle,
    rgba(27, 27, 27, 0.753) 0%,
    rgb(0, 0, 0) 100%
  );

  background: url("./Assets/Img/AnimationImages/settingBtn.gif");
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.settingBtn i:hover {
  background: url("./Assets/Img/AnimationImages/nameAnimation.gif");
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* RESPONSIVE UI STYLES------------------------------ */

@media screen and (max-width: 576px) {
  .stagesCard {
    flex-direction: column;
    /* border: 1px solid #000; */
    padding-bottom: 100px;
  }

  .stagesCard .card {
    flex-direction: column;
    width: 15rem;
  }

  .GAME {
    /* border: 1px solid #000; */
    flex-direction: column;
    align-items: center;
    height: 73vh;

    padding: 0 10px;
    /* border: 1px solid #000; */
  }

  .ADDNWQ {
    width: 100%;
    height: 25%;
    flex-direction: row;
    margin-bottom: 4px !important;
  }

  .PUZZLEDIV {
    height: 75% !important;
  }

  .DORPBOX {
    width: 100% !important;
    height: 100% !important;

    flex-direction: row !important;
  }

  .DORPIMG {
    /* border: 1px solid #ff0404 !important; */
    height: 100% !important;
    width: 70% !important;
    margin: 10% !important;
  }

  .WHOSESTAGE {
    font-size: 1.5rem;
  }

  .FullImage {
    width: 70%;
    height: 100%;
  }

  .FullImage div h5 {
    font-size: 12px !important;
  }

  .GAME .DORPBOX .EmptyBoxHeading {
    font-size: small;
    width: 50%;
  }

  .settingDiv {
    width: 100% !important;
  }

  /* .boxFullScreen {
    margin: 5% !important;
  } */

  .boxFullScreen {
    height: 50% !important;
  }

  .playNotice div {
    width: 80% !important;
    padding: 30px;
  }

  .preloader {
    background: #000;
  }

  /* .preloader #enterButton{
    border: ;
  } */

  .preloader .nameHead {
    font-weight: bolder;
    font-size: 5rem;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 768px) {
  .GAME .DORPBOX h4 {
    font-size: small;
  }

  .FullImage div h5 {
    font-size: large;
  }

  .settingDiv {
    width: 60% !important;
  }

  /* .boxFullScreen {
    margin: 10% ;
  } */

  .boxFullScreen {
    height: 70%;
  }

  .playNotice div {
    width: 80% !important;
    /* padding: 30px; */
  }
}

@media screen and (max-width: 992px) {
  .settingDiv {
    width: 40%;
  }

  /* .boxFullScreen {
    margin: 12% ;
  } */
}

@media screen and (max-width: 1200px) {
  .settingDiv {
    width: 40%;
  }

  /* .boxFullScreen {
    margin: 20% !important;
  } */
}

@media screen and (max-width: 1400px) {
  .playNotice div {
    width: 50%;
  }

  .namePuzz {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1400px) {
  .GAME {
    height: 75vh;
  }

  .namePuzz {
    font-size: 3rem;
  }
}

.floating-drag-img {
  width: 80px; /* Match your puzzle image size */
  height: auto;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
